{% extends 'kiosk/base.html' %}
{% load static %}
{% block content %}



<!--    <h1>{{title}}</h1>-->

<!--    <div class="about">-->
<!--    {% autoescape off %}-->
<!--      {{ content }}-->
<!--    {% endautoescape %}-->
<!--    </div>-->
<section class="about_school">
<div>
</div>
<div>
<article>
<h1>Основные сведения</h1>
<div>
<p><strong>Полное наименование образовательной организации:</strong></p>
<p><strong><span>Муниципальное образовательное учреждение "Колтушская СОШ имени ак. И.П. Павлова" </span></strong></p>
<p><strong><strong>Сокращенное наименование образовательной организации:</strong></strong></p>
<p><strong><span>МОУ КСОШ</span></strong></p>
<p>Школа располагается в 2-ух зданиях и отдельное здание дошкольного отделения</p>
<table>
<tbody>
<tr>
<td><strong>Юридический адрес(фактический) школы:</strong></td>
<td>188680, Ленинградская область, Всеволожский район, c. Павлово, ул. Быкова, д. 4а</td>
</tr>
<tr>
<td><strong>Фактический адрес школы:</strong></td>
<td><span>188680, Ленинградская область, Всеволожский район, c. Павлово, ул. Быкова, д. 4</span></td>
</tr>
<tr>
<td><strong><strong>Фактический адре</strong>с ДО:<br/></strong></td>
<td><span><span>188680, Ленинградская область, Всеволожский район,</span> д. Старая, Школьный пер. 14а<br/></span></td>
</tr>
<tr>
<td><strong>Контактный телефон:</strong></td>
<td>
<p><strong>Приемная директора: </strong>(81370) 69-503</p>
<p><strong>Завучи средней школы: </strong>(81370) 69-506, <span>(81370) 69-501</span></p>
<p><strong>Завучи начальной школы:</strong>(81370) 72-140</p>
<p><strong>Заместитель директора по ДО: </strong>8-921-579-94-66</p>
</td>
</tr>
<tr>
<td><strong>e-mail:</strong></td>
<td>
</td>
</tr>
<tr>
<td><strong>Адрес сайта:</strong></td>
<td><a>https://koltush.vsevobr.ru</a></td>
</tr>
</tbody>
</table>
<p><strong>Места осуществления образовательной деятельности:</strong></p>
<ul>
<li>МОУ "Колтушская СОШ имени ак. И.П. Павлова"<br/>(Адрес: 188653, Ленинградская область, Всеволожский р-н, с. Павлово, ул. Быкова, д. 4а)</li>
<li>МОУ "Колтушская СОШ имени ак. И.П. Павлова"<br/>(Адрес: 188653, Ленинградская область, Всеволожский р-н, с. Павлово, ул. Быкова, д. 4)</li>
</ul>
<p><span><strong><strong><strong></strong><strong>Режим работы</strong></strong></strong></span></p>
<p><strong><em><strong>График работы Дошкольного отделения МОУ "Колтушская СОШ"</strong></em></strong></p>
<p>5 дневная неделя. Понедельник-Пятница: с 7:00 до 19:00 <span><strong><br/></strong></span></p>
<p>Выходные дни: суббота, воскресенье, дополнительные дни отдыха, связанные с государственными праздниками<strong> <br/></strong></p>
<p><em><strong>График работы МОУ "Колтушская СОШ"</strong></em></p>
<p>5 дневная учебная неделя. Понедельник-Пятница: с 8:00 до 19:00</p>
<p><em><strong>График приема граждан директором МОУ "Колтушская СОШ"</strong></em></p>
<p>по<strong>вторникам с 15:00 до 17:00</strong>в каб. №251 (старшая школа)<br/>по<strong>пятницам с 09:00 до 12:00</strong>в каб.221 (дошкольное отделение, Школьный пер., д.14а)</p>
<p>По предварительной записи по телефону: 69-503</p>
<p><em><strong>График приема канцелярии для посетителей МОУ "Колтушская СОШ"</strong></em></p>
<p><span>по</span><strong><span>понедельникам, четвергам с 15:00 до 17:00</span></strong><span>в каб. № 251 (старшая школа)</span></p>
<p><span></span></p>
<p>Вышестоящие организации:</p>
<p><strong>Учредитель:</strong></p>
<p>Учредителем ОУ является Муниципальное образование «Всеволожский муниципальный район» Ленинградской области. Функции и полномочия Учредителя ОУ осуществляет Комитет по образованию администрации муниципального образования «Всеволожский муниципальный район» Ленинградской области.</p>
<p><strong>Председатель Комитета по образованию: Федоренко Ирина Петровна</strong></p>
<p><strong>Адрес:</strong>188643, Ленинградская область,г.Всеволожск, 1-я Линия, дом 38<br/> <strong>Телефон:</strong>(81370) 57-038<br/> <strong>E-mail: </strong>
<br/> <strong>сайт:</strong><a>https://komitet.vsevobr.ru/home/</a><br/> <strong>Часы работы:</strong> с 9:00 до 18:00 по будням.</p>
<p><strong>Комитет по образованию администрации МО “Всеволожский муниципальный район” Ленинградской обрасти:</strong></p>
<p><strong>Адрес:</strong>г. Всеволожск, 1-ая Линия, дом 38. Телефон:+7(81370)57 038E-mail:
 <br/> <strong>сайт:</strong><a>https://komitet.vsevobr.ru/home/</a><br/> <strong>Приемные часы председателя Комитета по образованию:</strong> каждый вторник с 15.00 до 18.00</p>
<p><strong>Места осуществления образовательной деятельности, в том числе не указанных в приложении лицензии:</strong></p>
<p><span>Не оказывается:</span></p>
<ul>
<li>деятельность по дополнительным профессиональным программ</li>
<li>деятельность по основным программам профессионального обучения</li>
<li>деятельность при использовании сетевой формы реализации образовательных программ</li>
</ul>
<p><span>Так же нет:</span></p>
<ul>
<li>мест проведения практики</li>
<li>мест проведения практической подготовки обучающихся</li>
</ul>
<p><strong>Места проведения государственной итоговой аттестации:</strong></p>
<ul>
<li>МОУ "Колтушская СОШ имени ак. И.П. Павлова"<br/>(Адрес: 188653, Ленинградская область, Всеволожский р-н, с. Павлово, ул. Быкова, д. 4а)</li>
</ul>
<ul>
<li>МОУ "СОШ с углубленным изучением отдельных предметов №2" г. Всеволожска<br/>(Адрес: 188640, Ленинградская область, г. Всеволожск, ул. Межевая, д. 10)</li>
</ul>
<ul>
<li>МОУ "СОШ с углубленным изучением отдельных предметов №3" г. Всеволожска<br/>(Адрес: 188641, Ленинградская область, г. Всеволожск, ул. Победы, д. 17)</li>
</ul>
</div>
</article>
</div></section>




{% endblock %}