{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'kiosk/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

</head>
<body id="kiosk">

<header id="header">
    <br>
    <a href="{% url 'home' %}"><h3 class="headline_3">МОУ "Колтушская средняя общеобразовательная школа имени академика И.П.Павлова"</h3></a>
	<br><br><br>
    <h3 class="headline_3">Сегодня: {{date_time}}</h3>
<div class="clock" >
    <div class="hour">
        <div class="hr" id="hr"></div>
    </div>
    <div class="min">
        <div class="mn" id="mn"></div>
    </div>
    <div class="sec">
        <div class="sc" id="sc"></div>
    </div>
</div>

</header>

{% block content %}

{% endblock %}
<br>
<div id="home-button"></div>
<div id="home-url" data-url="{% url 'home' %}"></div>
<script type="text/javascript" src="{% static 'kiosk/js/button_Glavnay.js' %}"></script>
<script type="text/javascript" src="{% static 'kiosk/js/clock.js' %}"></script>
<br>
</body>

<footer id="footer"><br><h3 class="headline_3"><i>сайт школы:<br>koltush.vsevobr.ru</i></h3><br></footer>

</html>